<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortener</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="prose mx-auto mt-28 px-5">
    <% if alert %>
     <%= tag.p alert, class: "bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" if alert %>
    <% end %>

    <% if notice %>
    <% end %>
      <%= yield %>
    </main>
  </body>
</html>
